<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
{% block stylesheets %}
    <link href="{{ asset('bundles/wrdlego/css/shop-homepage.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/wrdlego/css/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
{% endblock %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>