<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
{% block stylesheets %}
    {% stylesheets 'bundles/wrdlego/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>